.PageSlider {
  display: flex;
  width: 260px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.25);
  margin: 50px auto 0px auto;
}

.PageSlider__item {
  font-size: 50px;
  user-select: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.1s ease-in-out;
}

.PageSlider__page {
  user-select: none;
  width: 80px;
  height: 80px;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageSlider__item:hover {
  background: rgba(255, 255, 255, 0.25);
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}