.DatePicker {
  width: 230px;
  font-size: 25px;
  align-self: center;
  margin: 0px 3px 50px 3px;
  outline: none;
  border: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  color:rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  transition: background 0.1s ease-in-out;
}

.DatePicker:hover {
  cursor: text;
}

.DatePicker:focus {
  background:rgba(255, 255, 255, 0.75);
  transition: background 0.1s ease-in-out;
}