.Character {
  display: flex;
  flex-direction: column;
  color: inherit
}

.Character__title {
  font-size: 70px;
  margin-bottom: 0px;
}

.Character__subtitle {
  font-size: 30px;
  margin-bottom: 80px;
}

.Character__row {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  padding: 20px;
  font-size: 30px;
}

.Character__row:first-of-type {
  border-top: none;
}

.Character__fail {
  text-align: center;
  font-size: 40px;
	font-weight: 300;
  color: inherit;
}

.cssload-container {
	width: 100%;
	height: 88px;
	text-align: center;
  margin-bottom: 50px;
}

.cssload-speeding-wheel {
	width: 88px;
	height: 88px;
	margin: 0 auto;
	border: 5px solid rgba(255,255,255,0.89);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 650ms infinite linear;
		-o-animation: cssload-spin 650ms infinite linear;
		-ms-animation: cssload-spin 650ms infinite linear;
		-webkit-animation: cssload-spin 650ms infinite linear;
		-moz-animation: cssload-spin 650ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}